package ${serviceImplPackage} ;

import ${pojoPackage}.${bigDoName};
import ${daoPackage}.${bigDaoName};
import ${servicePackage}.${bigServiceName};
import com.trc.mall.base.BaseServiceImpl;
import com.txframework.core.jdbc.PageRequest;
import org.springframework.util.Assert;
import org.springframework.stereotype.Service;
import javax.annotation.Resource;
import java.util.Date;
import java.util.List;
import java.util.ArrayList;

/**
* author: wsh
* JDK-version:  JDK1.8
* comments:  ${headName}服务实现层
* since Date： ${date}
*/
@Service("${minServiceName}")
public class ${bigServiceImplName} extends BaseServiceImpl implements ${bigServiceName}{

    @Resource
    private ${bigDaoName} ${minDaoName};

	/**
	* 多条件查询(分页)
	* @param ${minDoName} ${bigDoName}
	* @param pageRequest PageRequest<${bigDoName}>
	* @return List<${bigDoName}>
    */
    @Override
    public PageRequest<${bigDoName}> query${bigDoName}ListForPage(${bigDoName} ${minDoName}, PageRequest<${bigDoName}> pageRequest) throws Exception{
        try {
            Assert.notNull(pageRequest, "分页参数不能为空");
            if (${minDoName} == null) {
                logger.warn("{creditRecord}查询参数不能为空");
                return pageRequest;
            }
            return pageRequest.data(${minDaoName}.selectListByParams(${minDoName}, pageRequest));
        } catch (Exception e) {
            throw new Exception("多条件查询${bigDoName}信息异常",e);
        }
    }

    /**
    * 根据用户ID查询
    * @param id ${idType}
    * @return ${bigDoName}
    */
    @Override
    public ${bigDoName} get${bigDoName}ById(${idType} id) throws Exception{
        try {
#if(${idType} != "String")
            Assert.isTrue(id != null,"查询Id不能为空!");
#else
            Assert.isTrue(StringUtils.isBanlk(id),"查询Id不能为空!");
#end
            return ${minDaoName}.selectById(id);
        } catch (Exception e) {
            throw new Exception("根据ID=>[" + id + "]查询${bigDoName}信息异常",e);
        }
    }

    /**
    * 添加
    * @param ${minDoName} ${bigDoName}
    * @return boolean
    */
    @Override
    public boolean add${bigDoName}(${bigDoName} ${minDoName}) throws Exception{
        try {
            // Validate
            validateForAdd(${minDoName});

            // Insert
            int result = ${minDaoName}.insert(${minDoName});
            if (result < 1) {
                throw new Exception("sql插入数据为0,请检查各项参数!");
            }
            logger.info("新增ID=>[" + ${minDoName}.getId() + "]的${bigDoName}成功");
            return true;
        } catch (Exception e) {
            throw new Exception("新增ID=>[" + ${minDoName}.getId() + "]的${bigDoName}信息异常",e);
        }
    }

    /**
    * Validate Add
    * @param ${minDoName} ${bigDoName}
    */
    private void validateForAdd(${bigDoName} ${minDoName}) {
        Assert.isTrue(${minDoName} != null,"${minDoName}不能为空!");
        // TODO Validate
    }

    /**
    * 修改
    * @param ${minDoName} ${bigDoName}
	* @return boolean
    */
    @Override
    public boolean modify${bigDoName}(${bigDoName} ${minDoName}) throws Exception{
        try {

            // validate
            ${bigDoName} old${bigDoName} = validateForUpdate(${minDoName});

            // Update
            ${minDoName}.setVersionLock(old${bigDoName}.getVersionLock());
            int result = ${minDaoName}.updateById(${minDoName});
            if (result < 1) {
                throw new Exception("sql修改数据为0,请检查各项参数!");
            }
            logger.info("修改ID=>[" + ${minDoName}.getId() + "]的${minDoName}成功!");
            return true;
        }catch (Exception e){
            logger.error("修改ID=>[" + ${minDoName}.getId() + "]的${minDoName}异常!");
            throw new Exception("修改ID=>[" + ${minDoName}.getId() +"]的${bigDoName}信息异常",e);
        }
    }

    /**
    * Validate Update
    * @param ${minDoName} ${bigDoName}
    * @return ${bigDoName}
    */
    private ${bigDoName} validateForUpdate(${bigDoName} ${minDoName}) {

        Assert.isTrue(${minDoName} != null,"${minDoName}不能为空!");
#if(${idType} != "String")
        Assert.isTrue(${minDoName}.getId() != null,"查询Id不能为空!");
#else
        Assert.isTrue(StringUtils.isBanlk(${minDoName}.getId()),"查询Id不能为空!");
#end
        // TODO Validate
        ${bigDoName} old${bigDoName} = ${minDaoName}.selectById(${minDoName}.getId());
        Assert.isTrue(old${bigDoName} != null,"查询不到ID=>[" + ${minDoName}.getId() + "]的信息!");
        return old${bigDoName};
    }

    /**
    * 删除(逻辑删除)
    * @param id ${idType}
    * @return boolean
    * @throws Exception
    */
    @Override
    public boolean del${bigDoName}(${idType} id) throws Exception{
        try {
            // validate
#if(${idType} != "String")
            Assert.isTrue(id != null,"查询Id不能为空!");
#else
            Assert.isTrue(StringUtils.isBanlk(id),"查询Id不能为空!");
#end

            ${bigDoName} old${minDoName} = ${minDaoName}.selectById(id);
            Assert.isTrue(old${minDoName} != null,"查询不到ID=>" + id + "的信息!");
            ${bigDoName} ${minDoName} = new ${bigDoName}();
            ${minDoName}.setId(id);

            ${minDoName}.setIsDeleted(true);
            ${minDoName}.setVersionLock(old${minDoName}.getVersionLock());
            // update
            int result = ${minDaoName}.updateIsDeleteById(${minDoName});
            if (result < 1) {
                throw new Exception("数据已删除,请勿重复操作!");
            }
            logger.info("删除ID=>[" + id + "]的${minDoName}成功!");
            return true;
        }catch (Exception e){
            logger.error("删除ID=>[" + id + "]的${minDoName}异常!");
            throw new Exception("删除ID=>[" + id +"]的${bigDoName}异常",e);
        }
    }
}
